<footer class="site-footer">

	<table  style="border:none; color:#CCC">
		<colgroup>
			<col style="witdh:33%"/>
			<col style="witdh:34%"/>
			<col style="witdh:33%"/>
		</colgroup>
		<tr>
			<td  style="border:none;text-align:left;">© 2017 AlloyTools</td>
			<td style="border:none;text-center;"><a href="https://groups.google.com/forum/#!forum/alloytools">Forum</a></td>
			<td style="border:none;text-align:right;">
				{% include icon-github.html username='AlloyTools' %}
			</td>			
		</tr>
	</table>

</footer>
