---
layout: default
---

<div class="home">
  <div style="float:right;width:250px; margin-left:20px;">
    <img style="float:right"src="/image/cover.jpg"/>
  </div>
  {{ content }}
   
  <h2 class="page-heading">announcements</h2>  
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ post.date | date: date_format }}</span>    
    <div class="post-content" itemprop="articleBody">
      {{ post.content }}
    </div>
    {% endfor %}
  </ul>

</div>
